@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #2456fd;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: #E8E8E8;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.containerf {
  width: 100vw;
  height: 100vh;
  background: #6C7A89;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.finished {
  width: 1000px;
  height: 1000px;
  background: #fff;
}

p {
  text-align: center;
  margin-top: 100px;
  font-size: x-large;
}

.frase {
  font-size: xx-large;
}

.imagem {
  margin-top: 100px;
  text-align: center;

}